<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My News App</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body style="background-color: rgb(212, 155, 212);">
  <div style="border: solid 2px; background-color: black; color:aliceblue; position:fixed; width: 100%; ">
    <center>
      <h1>My News App</h1>
    </center>
  </div>

  <div class="container" style="color: white;">
    <br>
    <br>
    {% for i in case.articles %}
    <div>
      <br>
      <h4>
        <strong style="color:yellow ;">Author:</strong> {{i.author}}
      </h4>

      <h4>
        <strong style="color:yellow ;">Title:</strong> {{i.title}}
      </h4>

      <h5>
        <strong style="color:yellow ;">Description:</strong> {{i.description}}
      </h5>

      <br>

      <center>
      <img src={{i.urlToImage}} alt="/" width="90%" height="300px">
    </center>
    </div>

    {%endfor%}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>